body {
  font-family: "Open Sans", sans-serif;
}

/* Navbar */
.navbar a {
  color: white;
}

/* Header */
#Hero-Section h1,
h3 {
  font-weight: bolder;
  color: white;
}

#Hero-Section p {
  color: gray;
}

#Hero-Section {
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

#Hero-Section .container {
  backdrop-filter: blur(2px);
}

.imground {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  border: 2px solid gray;
}

/* About-me section */
#About-me h2 {
  color: white;
  padding-bottom: 0;
}

#About-me .card {
  margin: auto;
  width: 80%;
  background-color: transparent;
  border-color: transparent;
}

/* Education section */
#Education h3 {
  color: gray;
}

#Certification h3 {
  color: black;
}

/* Experience section */
#Experience h2,
h3 {
  color: white;
}

#Experience p {
  color: gray;
}

/* Portfolio section */
#Portfolio .card {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.card-img {
  overflow: hidden;
}

.card-img img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 250px;
}

.image-top {
  overflow: hidden;
}

.image-top:hover {
  transform: scale(1.3);
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(1.3);
}
